{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>

    .box {
        width: 50%;
        margin: 30px auto;
        background-color: white;
        padding: 30px 0px;
        border-radius: 10px;
        box-shadow: 1px 1px 3px 1px #dadce0;
    }

    .container {
        margin: auto;
        width: 90%;
        border: 1px solid lightgray;
        border-radius: 10px;
        box-shadow: 1px 1px 3px 1px #dadce0;
    }

    .content {
        margin: 10px auto;
        width: 80%;
        border: 1px solid lightgray;
        border-radius: 10px;
        box-shadow: 1px 1px 3px 1px #dadce0;
    }

    a {
        color: gray;
        text-decoration: none;
    }

    .info_list {
        list-style:none;
        margin: auto;
        padding: 0;
        text-align: center;
    }

    .info {
        margin: 0 10px;
        padding: 0;
        border : 0;
        float: left;
    }

    #follower_list {
        display: none;
    }

    #following_list {
        display: none;
    }

</style>
<script type="text/javascript">
    function doDisplay(clicked_id) {
        var con = document.getElementById(clicked_id)
        if (con.style.display == 'none') {
            con.style.display = 'block';
        } else {
            con.style.display = 'none';
        }
    }
</script>

<div class="box">
    {% with user_followers=writer.followers.all %}
    <div class="container">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align: left">
                {{writer}}님의 프로필
                {% if request.user != writer %}
                    {% if request.user in user_followers %}
                        <a href="{% url 'user:follow' writer.pk %}">팔로우 취소</a>
                    {% else %}
                        <a href="{% url 'user:follow' writer.pk %}">팔로우</a>
                    {% endif %}
                {% endif %}
                <hr>
                <ul class="info_list">
                    <li class="info">
                        팔로워 <br><a href="javascript:doDisplay('follower_list')">{{ user_followers|length }}</a><br>
                        <div id="follower_list">
                            {% for follower in user_followers %}
                                <a href="{% url 'user:profile' follower.pk %}">{{follower}}</a><br>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="info">
                        팔로잉 <br><a href="javascript:doDisplay('following_list')">{{ writer.followings.count }}</a><br>
                        <div id="following_list">
                            {% for following in writer.followings.all %}
                            <a href="{% url 'user:profile' following.pk %}">{{following}}</a><br>
                        {% endfor %}
                        </div>
                    </li>
                    <li class="info">게시물 <br>{{posts.count}}</li>
                </ul>
            </li>
            <li class="list-group-item" style="text-align: left">
                <img src="{% static 'profile.png' %}" style="width:30px"> {{writer}}<br>
                닉네임: {{writer.nickname}}<br>
            </li>
        </ul>
        <br><br>
        {% if request.user == writer %}
        <h4>좋아요한 글 목록</h4>
        {% for post in like_posts %}
            <a href="{% url 'diary:detail' post.id %}">
                <div class="content">
                    {% if post.image %}
                    <img src="{{post.image.url}}" height="300"> <!--models.py에서 사진을 보내주는 것이 아니라 url 보내주는 것임-->
                    {% endif %}<br>
                    {{post.content|linebreaksbr}}<br>
            </a>
                <a href="{% url 'user:profile' post.author.pk %}">by. {{post.author}}</a> 
                <br><br>
                </div>
        {% endfor %}
        <br>
        {% endif %}

        <h4>작성한 글 목록</h4>
        {% for post in posts %}
        <a href="{% url 'diary:detail' post.id %}">
            <div class="content">
                {% if post.image %}
                <img src="{{post.image.url}}" height="280"> <!--models.py에서 사진을 보내주는 것이 아니라 url 보내주는 것임-->
                {% endif %}<br>
                {{post.content|linebreaksbr}}<br><br>
            </div>
        </a>
        {% endfor %}
    </div><br><br><br>
    {% if request.user == writer %}
        <a href="{% url 'user:update' %}">회원 수정</a>
        <a href="{% url 'user:delete' %}">회원 탈퇴</a>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}